@model libraryManagementSystem.Models.Book
@{
    ViewData["Title"] = "Book Details";
}

<h2>Book Details</h2>

<div>
    <dl>
        <dt>ID</dt>
        <dd>@Model.Id</dd>

        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Author</dt>
        <dd>@Model.Author</dd>

        <dt>Description</dt>
        <dd>@Model.Description</dd>
    </dl>
</div>

<p>
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</p>
